@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
$main-font: 'Montserrat', sans-serif;
$main-color: #539f3c;
$main-color-hover: rgba(83,159,60,0.9);